{% extends "base.html" %}
{% load static %}    
  
  
  {% block about_template %}
        <section class="section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h2 class="mb-lg-3 mb-3">{{about.title}}</h2>

                    <p>{{about.description1}}</p>

                    <p>{{about.description2}}</p>
                </div>

                <div class="col-lg-4 col-md-5 col-12 mx-auto">
                    <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                        <p class="featured-text"><span class="featured-number">{{about.years}}</span> Years<br> {{about.text}} </p>
                    </div>
                </div>

            </div>
        </div>
        </section>
  {% endblock %}